# Auto detect text files and perform LF normalization
* text=auto
clColorboxmustard.html filter=lfs diff=lfs merge=lfs -text
clgdwaveover100mb.html filter=lfs diff=lfs merge=lfs -text
clprecisionclient.html filter=lfs diff=lfs merge=lfs -text
clundertale-gameboy(1).html filter=lfs diff=lfs merge=lfs -text
clundertale-gameboy.html filter=lfs diff=lfs merge=lfs -text
